.bg-primario{
    background-color: #E4E4E4;
}

.bg-secundario{
    background-color: #E4E4E4;
}

/* Modo Dark */

.bg-primario-dark{
    background-color: #2D2E33;
}

.bg-secundario-dark{
    background-color: #2D2E33;
}