@font-face{
    font-family: "Montserrat-Medium";
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}

.dropdown-toggle::after{
    display: none;
    font-family: "Montserrat-SemiBold";
    letter-spacing: 5px;
    font-size: 18px;
    text-shadow: 1.3px 1.3px 1.3px rgb(0 0 0 / 15%);
}

    video {
        height: 65vh;
        width: 100%;
        object-fit: fill; // use "cover" to avoid distortion
        position: absolute;
    }

    .navbar-box{
        -webkit-box-shadow: 3px 3px 20px 3px rgba(0,0,0,0.4);
        -moz-box-shadow: 3px 3px 20px 3px rgba(0,0,0,0.4);
        box-shadow: 3px 3px 20px 3px rgba(0,0,0,0.4);
    }

    .brand_logo:hover{
        opacity: 1;
    }

    .brand_logo{
        opacity: 0.5;
    }

    .video_style{
        border-style: solid;
        border-width: 0px 0px 3px 0px;
        border-color: #E4E4E4;
        transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    /* Modo Dark */

    .video_style_dark{
        border-style: solid;
        border-width: 0px 0px 3px 0px;
        border-color: #2D2E33;
        transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    .dropdown-toggle_dark::after{
        display: none;
        font-family: "Montserrat-SemiBold";
        letter-spacing: 5px;
        font-size: 18px;
        color: #E4E4E4;
        text-shadow: 1.3px 1.3px 1.3px rgb(0 0 0 / 15%);
    }

    .content .content-overlay-dark{
        background: rgba(45,46,51,0.7);
        position: absolute;
        /*height: 99%;*/
        /*width: 100%;*/
        width: 12vw;
        height: 12vw;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s
    }
    .content:hover .content-overlay-dark{
        opacity: 1
    }
    .content-image-dark{
        /*width: 100%*/
        width: 12vw;
        height: 12vw;
        object-fit: cover;
        border: 6px solid #2D2E33;
    }
    .content-details-dark{
        position: absolute;
        text-align: center;
        width: 100%;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    .content-details2-dark{
        position: absolute;
        text-align: center;
        width: 100%;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    .content:hover .content-details-dark{
        top: 50%;
        left: 50%;
        opacity: 1;
    }
    .content:hover .content-details2-dark{
        top: 50%;
        left: 50%;
        opacity: 1;
    }
    .content-details-dark h3{
      font-family: "Montserrat-Medium";
      color: #FFFF;
      font-size: 17px;
      font-weight: 600;
      letter-spacing: 5px;
      text-align: center;
      text-shadow: 1.3px 1.3px 1.3px rgba(0, 0, 0, 0.15);
    }

    .content-details2-dark h3{
      font-family: "Montserrat-Medium";
      color: #FFFF;
      font-size: 10px;
      font-weight: 600;
      letter-spacing: 3px;
      text-align: center;
      text-shadow: 1.3px 1.3px 1.3px rgba(0, 0, 0, 0.15);
    }


     /*----------Services hover*/

    .content{
        position: relative;
        width: 12vw;
        height: 12vw;
        overflow: hidden
    }

    .content3{
        position: relative;
        top: -100px;
        overflow: hidden
    }

    .content .content-overlay{
        background: rgba(228,228,228,0.7);
        position: absolute;
        height: 99%;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s
    }

    .content3 .content-overlay3{
        background: rgba(228,228,228,0.7);
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s
    }

    .content:hover .content-overlay{
        opacity: 1
    }

    .content3:hover .content-overlay3{
        opacity: 1
    }

    .content-image{
        width: 100%;
        object-fit: cover;
        border: 6px solid #E4E4E4;
    }

    .content-image3{
        width: 100%;
        /*width: 12vw;*/
        /*height: 12vw;*/
        object-fit: cover;
        border: 6px solid #E4E4E4;
    }

    .content-details{
        position: absolute;
        text-align: center;
        width: 100%;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }

    .content-details3{
        position: absolute;
        text-align: center;
        width: 100%;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }

    .content-details2{
        position: absolute;
        text-align: center;
        width: 100%;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    .content:hover .content-details{
        top: 50%;
        left: 50%;
        opacity: 1;
    }

    .content3:hover .content-details3{
        top: 50%;
        left: 50%;
        opacity: 1;
    }

    .content:hover .content-details2{
        top: 50%;
        left: 50%;
        opacity: 1;
    }
    .content-details h3{
        font-family: "Montserrat-Medium";
        color: #2F2F34;
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 5px;
        text-align: center;
        text-shadow: 1.3px 1.3px 1.3px rgba(255, 255, 255, 0.15);
    }

    .content-details2 h3{
        font-family: "Montserrat-Medium";
        color: #2F2F34;
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 3px;
        text-align: center;
        text-shadow: 1.3px 1.3px 1.3px rgba(255, 255, 255, 0.15);
    }

    .content-details3 h3{
        font-family: "Montserrat-Medium";
        color: #2F2F34;
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 3px;
        text-align: center;
        text-shadow: 1.3px 1.3px 1.3px rgba(255, 255, 255, 0.15);
    }