@font-face{
    font-family: "Montserrat-Medium";
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}

.dropdown-toggle::after{
    display: none;
    font-family: "Montserrat-SemiBold";
    letter-spacing: 5px;
    font-size: 18px;
    text-shadow: 1.3px 1.3px 1.3px rgb(0 0 0 / 15%);
}

    video {
        height: 65vh;
        width: 100%;
        object-fit: fill; // use "cover" to avoid distortion
        position: absolute;
    }

    .navbar-box{
        -webkit-box-shadow: 3px 3px 20px 3px rgba(0,0,0,0.4);
        -moz-box-shadow: 3px 3px 20px 3px rgba(0,0,0,0.4);
        box-shadow: 3px 3px 20px 3px rgba(0,0,0,0.4);
    }

    .img-cont {
      object-fit: cover;
      width:12vw;
      height: 12vw;
      border: 6px solid #E4E4E4;
    }

    .container_imagen{
        position: relative;

    }

    .overlay {
      position: absolute;
      bottom: 0;
      background: rgba(228, 228, 228, 0.6); /* Black see-through */
      color: #2F2F34;
      width: 100%;
      padding: 78px 0 78px 0;
      font-family: "Montserrat-Medium";
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 5px;
      opacity:0;
      text-align: center;
      text-shadow: 1.3px 1.3px 1.3px rgba(255, 255, 255, 0.15);
    }

    .overlay-sin {
        position: absolute;
        bottom: 0;
        background: rgba(228, 228, 228, 0.6); /* Black see-through */
        color: #2F2F34;
        width: 100%;
        padding: 90px 0 90px 0;
        font-family: "Montserrat-Medium";
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 5px;
        opacity:0;
        text-align: center;
        text-shadow: 1.3px 1.3px 1.3px rgba(255, 255, 255, 0.15);
      }

    .overlay2 {
      position: absolute;
      bottom: 0;
      background: rgba(228, 228, 228, 0.6); /* Black see-through */
      color: #2F2F34;
      width: 100%;
      padding: 97px 0 97px 0;
      font-family: "Montserrat-Medium";
      font-size: 8px;
      font-weight: 600;
      letter-spacing: 5px;
      opacity:0;
      text-align: center;
      text-shadow: 1.3px 1.3px 1.3px rgba(255, 255, 255, 0.15);
    }

    .overlay_cel{
      position: absolute;
      bottom: 0;
      background: rgba(228, 228, 228, 0.6); /* Black see-throughcard_image-cel */
      color: #2F2F34;
      width:100%;
      height: auto;
      font-family: "Montserrat-Medium";
      font-size: 8px;
      font-weight: 600;
      letter-spacing: 5px;
      margin-top: 10px;
      transition: .5s ease;
      opacity:0;
      text-align: center;
    }

    .span_overley{
      font-size: 9px;
      font-weight: 600;
      letter-spacing: 5px;
    }

    .container_imagen:hover .overlay {
       opacity: 1;

    }

    .container_imagen:hover .overlay-sin {
        opacity: 1;
     }

    .container_imagen:hover .overlay2 {
       opacity: 1;

    }

    .img-cont2 {
        width: 100px;

    }

    .brand_logo:hover{
        opacity: 1;
    }

    .brand_logo{
        opacity: 0.5;
    }

    .video_style{
        border-style: solid;
        border-width: 0px 0px 3px 0px;
        border-color: #E4E4E4;
        transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    /* Modo Dark */

    .video_style_dark{
        border-style: solid;
        border-width: 0px 0px 3px 0px;
        border-color: #2D2E33;
        transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    .dropdown-toggle_dark::after{
        display: none;
        font-family: "Montserrat-SemiBold";
        letter-spacing: 5px;
        font-size: 18px;
        color: #E4E4E4;
        text-shadow: 1.3px 1.3px 1.3px rgb(0 0 0 / 15%);
    }

    .img-cont-dark {
        object-fit: cover;
        width:12vw;
        height: 12vw;
        border: 6px solid #2D2E33;
      }

      .overlay-dark {
        position: absolute;
        bottom: 0;
        background: rgba(45, 46, 51, 0.603); /* Black see-through */
        color: #FFFF;
        width:12vw;
        height: 12vw;
        font-family: "Montserrat-Medium";
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 5px;
        opacity:0;
        text-align: center;
        text-shadow: 1.3px 1.3px 1.3px rgb(0 0 0 / 15%);
      }

      .overlay-dark-sin {
        position: absolute;
        bottom: 0;
        background: rgba(45, 46, 51, 0.603); /* Black see-through */
        color: #FFFF;
        width:12vw;
        height: 12vw;
        font-family: "Montserrat-Medium";
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 5px;
        opacity:0;
        text-align: center;
        text-shadow: 1.3px 1.3px 1.3px rgb(0 0 0 / 15%);
      }
  
      .overlay2-dark {
        position: absolute;
        bottom: 0;
        background: rgba(45, 46, 51, 0.603); /* Black see-through */
        color: #FFFF;
        width:12vw;
        height: 12vw;
        font-family: "Montserrat-Medium";
        font-size: 8px;
        font-weight: 600;
        letter-spacing: 5px;
        opacity:0;
        text-align: center;
        text-shadow: 1.3px 1.3px 1.3px rgb(0 0 0 / 15%);
      }

      .container_imagen:hover .overlay-dark {
        opacity: 1;
     }
 
     .container_imagen:hover .overlay2-dark {
        opacity: 1;
     }

     .container_imagen:hover .overlay-dark-sin {
        opacity: 1;
     }