@media screen and (max-width: 2300px) {
    .video_style{
        height: 100%;
        max-height: 750px;
        width: 100%;
        object-fit: fill;
    }

    .img-daneil{
        margin-top: 30px;
        margin-left: 600px;
    }

    .text-danieg{
        margin-right: 300px;
    }

    #testimonials_mb{
        height: 60vh;
    } 

    .content-details-dark h3{
        font-family: "Montserrat-Medium";
        color: #FFFF;
        font-size: 23px;
        font-weight: 900;
        letter-spacing: 6px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
      }

      .content-details2-dark h3{
        font-family: "Montserrat-Medium";
        color: #FFFF;
        font-size: 18px;
        font-weight: 900;
        letter-spacing: 2px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
      }

      .content-details h3{
        font-family: "Montserrat-Medium";
        color: #2F2F34;
        font-size: 20px;
        font-weight: 900;
        letter-spacing: 6px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.596);
    }

    .content-details2 h3{
        font-family: "Montserrat-Medium";
        color: #2F2F34;
        font-size: 18px;
        font-weight: 900;
        letter-spacing: 5px;
        text-align: center;
        text-shadow:  5px 5px 5px rgba(255, 255, 255, 0.596);
    }
}

@media screen and (max-width: 2200px) {
    #testimonials_mb{
        height: 60vh;
    } 
}

@media screen and (max-width: 2100px) {
    #testimonials_mb{
        height: 60vh;
    }

    .img-daneil{
        margin-top: 30px;
        margin-left: 550px;
    }

    .text-danieg{
        margin-right: 250px;
    }

}

@media screen and (max-width: 2000px) {
    #testimonials_mb{
        height: 60vh;
    } 
    .content-details-dark h3{
        font-family: "Montserrat-Medium";
        color: #FFFF;
        font-size: 22px;
        font-weight: 900;
        letter-spacing: 6px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
      }

      .content-details2-dark h3{
        font-family: "Montserrat-Medium";
        color: #FFFF;
        font-size: 20px;
        font-weight: 900;
        letter-spacing: 2px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
      }

      .content-details h3{
        font-family: "Montserrat-Medium";
        color: #2F2F34;
        font-size: 22px;
        font-weight: 900;
        letter-spacing: 6px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.596);
    }

    .content-details2 h3{
        font-family: "Montserrat-Medium";
        color: #2F2F34;
        font-size: 18px;
        font-weight: 900;
        letter-spacing: 5px;
        text-align: center;
        text-shadow:  5px 5px 5px rgba(255, 255, 255, 0.596);
    }
}

@media screen and (max-width: 1900px) {
    .video_style{
        height: 100%;
        max-height: 770px;
        width: 100%;
        object-fit: fill;
    }

    #testimonials_mb{
        height: 50vh;
    } 
    .content-details-dark h3{
        font-family: "Montserrat-Medium";
        color: #FFFF;
        font-size: 22px;
        font-weight: 900;
        letter-spacing: 6px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
      }

      .content-details2-dark h3{
        font-family: "Montserrat-Medium";
        color: #FFFF;
        font-size: 20px;
        font-weight: 900;
        letter-spacing: 2px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
      }

      .content-details h3{
        font-family: "Montserrat-Medium";
        color: #2F2F34;
        font-size: 22px;
        font-weight: 900;
        letter-spacing: 6px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.596);
    }

    .content-details2 h3{
        font-family: "Montserrat-Medium";
        color: #2F2F34;
        font-size: 18px;
        font-weight: 900;
        letter-spacing: 5px;
        text-align: center;
        text-shadow:  5px 5px 5px rgba(255, 255, 255, 0.596);
    }
}

@media screen and (max-width: 1920px) {
    .video_style{
        height: 100%;
        max-height: 770px;
        width: 100%;
        object-fit: fill;
    }

    .content-details-dark h3{
        font-family: "Montserrat-Medium";
        color: #FFFF;
        font-size: 18px;
        font-weight: 900;
        letter-spacing: 6px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
      }

      .content-details2-dark h3{
        font-family: "Montserrat-Medium";
        color: #FFFF;
        font-size: 20px;
        font-weight: 900;
        letter-spacing: 2px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
      }

      .content-details h3{
        font-family: "Montserrat-Medium";
        color: #2F2F34;
        font-size: 22px;
        font-weight: 900;
        letter-spacing: 6px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.596);
    }

    .content-details2 h3{
        font-family: "Montserrat-Medium";
        color: #2F2F34;
        font-size: 18px;
        font-weight: 900;
        letter-spacing: 5px;
        text-align: center;
        text-shadow:  5px 5px 5px rgba(255, 255, 255, 0.596);
    }

    #testimonials_mb{
        height: 58vh;
    }

    .img-daneil {
        margin-top: 30px;
        margin-left: 380px;

    }

    .text-danieg{
        margin-right: 300px;
    }

}

@media screen and (max-width: 1800px) {
    .video_style{
        height: 100%;
        max-height: 720px;
        width: 100%;
        object-fit: fill;
    }

    #testimonials_mb{
        height: 50vh;
    } 

    .content-details-dark h3{
        font-family: "Montserrat-Medium";
        color: #FFFF;
        font-size: 20px;
        font-weight: 900;
        letter-spacing: 6px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
      }

      .content-details2-dark h3{
        font-family: "Montserrat-Medium";
        color: #FFFF;
        font-size: 15px;
        font-weight: 900;
        letter-spacing: 2px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
      }

    .content-details h3{
        font-family: "Montserrat-Medium";
        color: #2F2F34;
        font-size: 20px;
        font-weight: 900;
        letter-spacing: 6px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.596);
    }

    .content-details2 h3{
        font-family: "Montserrat-Medium";
        color: #2F2F34;
        font-size: 15px;
        font-weight: 900;
        letter-spacing: 5px;
        text-align: center;
        text-shadow:  5px 5px 5px rgba(255, 255, 255, 0.596);
    }
}

@media screen and (max-width: 1700px) {
    .img-daneil{
        margin-top: 30px;
        margin-left: 350px;
    }

    .video_style{
        height: 100%;
        max-height: 720px;
        width: 100%;
        object-fit: fill;
    }

    #testimonials_mb{
        height: 50vh;
    }

    .text-danieg{
        margin-right: 180px;
    }

    .content-details-dark h3{
        font-family: "Montserrat-Medium";
        color: #FFFF;
        font-size: 21px;
        font-weight: 900;
        letter-spacing: 6px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
      }

      .content-details2-dark h3{
        font-family: "Montserrat-Medium";
        color: #FFFF;
        font-size: 17px;
        font-weight: 900;
        letter-spacing: 2px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
      }
}

@media screen and (max-width: 1600px) {
    .video_style{
        height: 100%;
        max-height:740px;
        width: 100%;
        object-fit: fill;
    }

    #testimonials_mb{
        height: 50vh;
    }

    .img-daneil{
        margin-top: 30px;
        margin-left: 280px;
    }

    .text-danieg{
        margin-right: 100px;
    }
    .content-details-dark h3{
        font-family: "Montserrat-Medium";
        color: #FFFF;
        font-size: 18px;
        font-weight: 900;
        letter-spacing: 6px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
      }

      .content-details2-dark h3{
        font-family: "Montserrat-Medium";
        color: #FFFF;
        font-size: 13px;
        font-weight: 900;
        letter-spacing: 2px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
      }

      .content-details h3{
        font-family: "Montserrat-Medium";
        color: #2F2F34;
        font-size: 18px;
        font-weight: 900;
        letter-spacing: 6px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.596);
    }

    .content-details2 h3{
        font-family: "Montserrat-Medium";
        color: #2F2F34;
        font-size: 13px;
        font-weight: 900;
        letter-spacing: 5px;
        text-align: center;
        text-shadow:  5px 5px 5px rgba(255, 255, 255, 0.596);
    }

}

@media screen and (max-width: 1500px) {
    .video_style{
        height: 100%;
        max-height: 740px;
        width: 100%;
        object-fit: fill;
    }

    #testimonials_mb{
        height: 53vh;
    } 
    .content-details-dark h3{
        font-family: "Montserrat-Medium";
        color: #FFFF;
        font-size: 18px;
        font-weight: 900;
        letter-spacing: 6px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
      }

      .content-details2-dark h3{
        font-family: "Montserrat-Medium";
        color: #FFFF;
        font-size: 15px;
        font-weight: 900;
        letter-spacing: 2px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
      }
      .content-details h3{
        font-family: "Montserrat-Medium";
        color: #2F2F34;
        font-size: 18px;
        font-weight: 900;
        letter-spacing: 6px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.596);
    }

    .content-details2 h3{
        font-family: "Montserrat-Medium";
        color: #2F2F34;
        font-size: 11px;
        font-weight: 900;
        letter-spacing: 5px;
        text-align: center;
        text-shadow:  5px 5px 5px rgba(255, 255, 255, 0.596);
    }
}

@media screen and (max-width: 1400px) {
    .video_style{
        height: 100%;
        max-height: 720px;
        width: 100%;
        object-fit: fill;
    }

    .img-daneil{
        margin-top: 0px;
        margin-left: 150px;
    }    

    #testimonials_mb{
        height: 53vh;
    } 
    .content-details-dark h3{
        font-family: "Montserrat-Medium";
        color: #FFFF;
        font-size: 15px;
        font-weight: 900;
        letter-spacing: 6px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
      }

      .content-details2-dark h3{
        font-family: "Montserrat-Medium";
        color: #FFFF;
        font-size: 12px;
        font-weight: 900;
        letter-spacing: 2px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
      }
      .content-details h3{
        font-family: "Montserrat-Medium";
        color: #2F2F34;
        font-size: 15px;
        font-weight: 900;
        letter-spacing: 6px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.596);
    }

    .content-details2 h3{
        font-family: "Montserrat-Medium";
        color: #2F2F34;
        font-size: 10px;
        font-weight: 900;
        letter-spacing: 5px;
        text-align: center;
        text-shadow:  5px 5px 5px rgba(255, 255, 255, 0.596);
    }
}

@media screen and (max-width: 1300px) {
    .video_style{
        height: 100%;
        max-height: 720px;
        width: 100%;
        object-fit: fill;
    }
    .img-daneil{
        width: 300px;
        margin-top: 70px;
        margin-left: 120px;
    }

    #testimonials_mb{
        height: 50vh;
    } 

    .content-details-dark h3{
        font-family: "Montserrat-Medium";
        color: #FFFF;
        font-size: 15px;
        font-weight: 900;
        letter-spacing: 6px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
      }

      .content-details2-dark h3{
        font-family: "Montserrat-Medium";
        color: #FFFF;
        font-size: 12px;
        font-weight: 900;
        letter-spacing: 2px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
      }

      .content-details h3{
        font-family: "Montserrat-Medium";
        color: #2F2F34;
        font-size: 15px;
        font-weight: 900;
        letter-spacing: 6px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.596);
    }

    .content-details2 h3{
        font-family: "Montserrat-Medium";
        color: #2F2F34;
        font-size: 10px;
        font-weight: 900;
        letter-spacing: 5px;
        text-align: center;
        text-shadow:  5px 5px 5px rgba(255, 255, 255, 0.596);
    }
}


@media screen and (max-width: 1200px) {
    .video_style{
        height: 720px;
        max-height: 720px;
        width: 100%;
        object-fit: fill;
    }
    .text-paraf {
        font-size: 10px;
    }

    .img-daneil{
        margin-top: 0px;
        margin-left: 50px;
    }    

    #testimonials_mb{
        height: 48vh;
    } 
    .content-details-dark h3{
        font-family: "Montserrat-Medium";
        color: #FFFF;
        font-size: 15px;
        font-weight: 900;
        letter-spacing: 6px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
      }

      .content-details2-dark h3{
        font-family: "Montserrat-Medium";
        color: #FFFF;
        font-size: 12px;
        font-weight: 900;
        letter-spacing: 2px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
      }
      .content-details h3{
        font-family: "Montserrat-Medium";
        color: #2F2F34;
        font-size: 15px;
        font-weight: 900;
        letter-spacing: 6px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.596);
    }

    .content-details2 h3{
        font-family: "Montserrat-Medium";
        color: #2F2F34;
        font-size: 10px;
        font-weight: 900;
        letter-spacing: 5px;
        text-align: center;
        text-shadow:  5px 5px 5px rgba(255, 255, 255, 0.596);
    }
}


@media screen and (max-width: 1220px) {

    .text-paraf {
        font-size: 10px;
    }

    .img-daneil{
        margin-top: 0px;
        margin-left: 50px;
    }
    .content-details-dark h3{
        font-family: "Montserrat-Medium";
        color: #FFFF;
        font-size: 15px;
        font-weight: 900;
        letter-spacing: 6px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
      }

      .content-details2-dark h3{
        font-family: "Montserrat-Medium";
        color: #FFFF;
        font-size: 12px;
        font-weight: 900;
        letter-spacing: 2px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
      }
      .content-details h3{
        font-family: "Montserrat-Medium";
        color: #2F2F34;
        font-size: 15px;
        font-weight: 900;
        letter-spacing: 6px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.596);
    }

    .content-details2 h3{
        font-family: "Montserrat-Medium";
        color: #2F2F34;
        font-size: 8px;
        font-weight: 900;
        letter-spacing: 5px;
        text-align: center;
        text-shadow:  5px 5px 5px rgba(255, 255, 255, 0.596);
    }
}

@media screen and (max-width: 1100px) {
    .text-paraf {
        font-size: 10px;
    }

    .tittle_daniel{
        margin-top: 6rem;
    }

    .max_content_press{
        max-width: 180px;
    }

    .video_style{
        margin-top: 74px!important;
        max-height: 1000px!important;
        height: 780px;
    }

    .img-daneil{
        margin-top: 90px;
        width: 250px;
        margin-left: 60px;
    }   

    #testimonials_mb{
        height: 45vh;
    } 

    .content-details-dark h3{
        font-family: "Montserrat-Medium";
        color: #FFFF;
        font-size: 15px;
        font-weight: 900;
        letter-spacing: 6px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
      }

      .content-details2-dark h3{
        font-family: "Montserrat-Medium";
        color: #FFFF;
        font-size: 10px;
        font-weight: 900;
        letter-spacing: 2px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
      }
      .content-details h3{
        font-family: "Montserrat-Medium";
        color: #2F2F34;
        font-size: 15px;
        font-weight: 900;
        letter-spacing: 6px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.596);
    }

    .content-details2 h3{
        font-family: "Montserrat-Medium";
        color: #2F2F34;
        font-size: 7px;
        font-weight: 900;
        letter-spacing: 5px;
        text-align: center;
        text-shadow:  5px 5px 5px rgba(255, 255, 255, 0.596);
    }
}

@media screen and (max-width: 1000px) {
    .video_style{
        max-height: 400px;
    }

    #testimonials_mb{
        height: 43vh;
    } 
}

@media screen and (max-width: 900px) {

    .video_style{
        height: 100%;
        max-height: 380px;
        width: 100%;
        object-fit: fill;
    }

    .img-daneil{
        margin-top: 120px;
        width: 200px;
        margin-left: 50px;
    }    

    #testimonials_mb{
        height: 50vh;
    } 
}

@media screen and (max-width: 720px) {
    .img-daneil{
        width: 200px;
        margin-top: 150px;
    }

    .text-paraf {
        font-size: 10px;
    }
}

@media screen and (max-width: 767px) {
    .img-daneil{
        width: 300px;
        margin-top: 0px;
        margin-left: 0;
    }

    .content_daniel_p{
        padding: 5px!important;
    }

    .tittle_daniel {
         margin-top: 1rem;
    }

    .text-danieg {
        margin-right: 0px;
    }

    .text-paraf {
        font-size: 10px;
    }

    .max_content_press{
        max-width: 150px;
    }
    
    #testimonials_mb{
        height: auto;
    } 
}

@media screen and (min-width: 576px) {
    .hiden_responsive_pcc{
        display: none!important;
    }
}

@media screen and (max-width: 576px) {
    .img-daneil{
        width: 210%;
        margin-top: 3px;
        margin-left: 0;
    }

    .max_content_press{
        max-width: 120px;
    }

    .video_style {
        height: auto;
        max-height: none;
        width: 100%;
        object-fit: cover;
    }

        .hiden_responsive_xsm{
            display: none!important;
        }

        .text_just{
              text-align: left!important;
               margin-left: 90px;
        }

        .text-paraf {
            font-size: 9px;
            letter-spacing: 1.5px;
        }

}

@media screen and (max-width: 460px) {
    .img-daneil{
        width: 220%;
        margin-top: 3px;
        margin-left: 0;
    }

    .max_content_press{
        max-width: 90px;
    }

   .text-paraf {
        font-size: 8px;
    }

    .video_style {
        height: auto;
        max-height: none;
        width: 100%;
        object-fit: cover;
    }

    .tittle_thin {
        font-size: 8px;
        letter-spacing: 4px;
    }
    .tittle_thin_dark{
        font-size: 8px;
        letter-spacing: 4px;
    }

}

@media screen and (max-width: 380px) {
    .img-daneil {
        width: 250%;
        margin-top: 3px;
        margin-left: 0;
    }
    .text-paraf {
        font-size: 7.1px;
        letter-spacing: 1px;
    }
}