@media screen and (max-width: 1320px) {
    .img-daneil{
        width: 300px;
        margin-top: 70px;
    }
}

@media screen and (max-width: 1199px) {
    .text-paraf {
        font-size: 10px;
    }


}


@media screen and (max-width: 1140px) {

}

@media screen and (max-width: 991px) {
    .text-paraf {
        font-size: 10px;
    }

    .tittle_daniel{
        margin-top: 6rem;
    }

    .max_content_press{
        max-width: 180px;
    }
}

@media screen and (max-width: 960px) {

}

@media screen and (max-width: 767px) {
    .img-daneil{
        width: 200px;
        margin-top: 150px;
    }

    .text-paraf {
        font-size: 10px;
    }

    .max_content_press{
        max-width: 150px;
    }
    
}


@media screen and (max-width: 720px) {
    .img-daneil{
        width: 200px;
        margin-top: 150px;
    }

    .text-paraf {
        font-size: 10px;
    }
}

@media screen and (max-width: 576px) {
    .img-daneil{
        width: 300px;
        margin-top: 0px;
    }
    .tittle_daniel{
        margin-top: 0rem;
    }

    .max_content_press{
        max-width: 120px;
    }
}

@media screen and (max-width: 460px) {
    .max_content_press{
        max-width: 90px;
    }
}

@media screen and (max-width: 360px) {

}